# .tfstate files
# https://github.com/github/gitignore/blob/main/Terraform.gitignore
**/.terraform/*
*.tfstate
*.tfstate.*

## 01_exercise
**/azure-tf*
**/azure-pulumi*

## 02_exercise
**/*/tmp

## azure settings per directory
**/.azure

# python
**/.venv
**/__pycache__
